.Session_Selected
{
    background-color: #ff6e6e;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ff0000;
}

.Session_Unselected
{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #cccccc;
}